svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M20.8457 1.15405L11.0725 11.1008L1.29932 1.15405" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M1.15426 20.8464L10.9275 10.8996L20.7007 20.8464" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")