svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
    g(transform="translate(8,8)")
      path(d="M4 9.1969L12 17.1969M12 17.1969L20 9.1969M12 17.1969L12 1.1969" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
      path(d="M23 17.197V19.11C23 20.694 21.715 21.979 20.131 21.979H3.869C2.284 21.979 1 20.694 1 19.11V17.197" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
