svg(width="40" height="40" viewBox="0 0 40 40"  fill="none" xmlns="http://www.w3.org/2000/svg")
    g(transform="translate(10,10)")
        path(d="M9.83496 17.4893L17.835 9.48926M17.835 9.48926L9.83496 1.48926M17.835 9.48926H1.83496", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
