body {
  font-family: var(--font-sans);
  color: var(--color-black);
  font-weight: 400;
}

.btn {
  color: var(--color-white);
  padding: 15px 32px;
  background: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  cursor: pointer;
}

.icon-right-arrow {
  height: 40px;
  width: 40px;
  display: inline-block;
  background: url('./assets/right-arrow.svg');
  background-size: cover;
}

.anchor-button {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  span + * {
    margin-left: 8px;
  }
}
