body {
  font-family: var(--font-sans);
  color: var(--color-black);
  font-weight: 400;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.btn {
  color: var(--color-white);
  padding: 15px 32px;
  background: var(--color-dark-blue);
  border: 1px solid var(--color-dark-blue);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: var(--color-violet-1);
    border-color: var(--color-violet-1);
  }

  &[disabled] {
    cursor: default;
    background: var(--color-grey-5);
    border-color: var(--color-grey-5);
  }
}

.zoomable {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.anchor-button {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  span + * {
    margin-left: 8px;
  }

  svg {
    transition: all 0.3s;
    border-radius: 100%;
    border: 2px solid var(--color-dark-blue);
  }

  &:hover {
    text-decoration: underline;
    svg {
      color: var(--color-white);
      background: var(--color-dark-blue);
    }
  }
}
