@theme {
  --color-*: initial;
  --color-dark-blue: #000039;
  --color-blue-1: #007AC2;
  --color-light-blue-1: #00BFF3;
  --color-blue-2: #2E9BD2;
  --color-light-blue-2: #7AD2F7;
  --color-violet-1: #6D6FB3;
  --color-violet-2: #B9C0E1;
  --color-green-0: #36B78A;
  --color-green-1: #66AFB6;
  --color-green-2: #A1DBE0;
  --color-bronze-1: #C29B57;
  --color-bronze-2: #D4C09E;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-1: #303030;
  --color-grey-2: #4E4E4E;
  --color-grey-3: #828282;
  --color-grey-4: #B9B9B9;
  --color-grey-5: #D9D9D9;
  --color-grey-6: #EBEBEB;
  --color-grey-7: #F5F5F5;
  --color-error: #D72020;

  --font-serif: 'ivar', serif;
  --font-sans: 'larsseit', sans-serif;

  --breakpoint-*: initial;
  --breakpoint-desktop: 1180px;
}