.about-container {
  .about-header {
    &-desktop {
      display: none;
    }
  }

  .about-stats {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    &-numbers {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }

  .about-stats-euro {
    color: var(--color-grey-4);
  }

  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url('./assets/about-grid-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 104px;
    svg {
      width: 40px;
      height: auto;
    }
  }
  .about-approach {
    &-grid {
      display: grid;
      margin-top: 40px;
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
  .about-audit-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 48px;
    margin-bottom: 64px;
  }
}

@media (min-width: theme('screens.desktop')) {
  .about-container {
    .about-header {
      &-desktop {
        display: block;
      }
      &-mobile {
        display: none;
      }
    }

    .about-stats {
      grid-template-columns: 3fr 7fr;
      gap: 120px;

      &-numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 52px;
      }
    }
    .about-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-image: url('./assets/about-grid-bg.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      padding-left: 48px;
      padding-right: 48px;
      padding-top: 74px;
      padding-bottom: 36px;
      svg {
        width: 64px;
        height: auto;
      }
    }
  }
  .about-approach {
    &-grid {
      display: grid;
      margin-top: 55px;
      grid-template-columns: 1fr 1fr 1fr !important;
      gap: 44px;
    }
  }
  .about-audit-grid {
    display: grid;
    grid-template-columns: 1fr 2fr !important;
    margin-top: 48px;
    margin-bottom: 120px !important;
  }
}
