extends ../layout/layout.pug

block content
    .mx-auto.container.wh-container.article-container
        .text-left(class="desktop:text-left") 
            a.anchor-button(href="/news.html")
                +svg-icon(svg-icon-name='right-arrow')
                span All news

        .article-container-main 
            div 09th of October 2024

            h2.text-4xl.font-serif.mb-10.mt-5(class="desktop:text-6xl desktop:mb-8 desktop:mt-4") LynxCap successfully completes yet another transaction in Spain

            img(src=require("../assets/article.png"), alt="" class="desktop:mb-14").mb-10

            p.text-base.mb-4 LynxCap successfully completes yet another transaction in Spain, acquiring an NPL portfolio comprising of non-performing real estate secured loans as well as real estate owned (REO) properties.

            p.text-base.mb-4 LynxCap is pleased to announce that LCL Opportunities S.C.S. has paid a coupon to bondholders due on 29/12/2023 under its secured Bond Programme for the following Sr. Secured Bonds - EUR 9,00 LCL OPPORT LUX (REGS/A) 22-2026.The bonds are listed on the Euro MTF section of the Luxembourg Stock Exchange.

            h3.font-serif.text-3xl.mt-11.mb-4.inline-block(class="desktop:text-4xl desktop:mb-6") Consumers and international growth

            p.text-base.mb-4 LynxCap successfully completes yet another transaction in Spain, acquiring an NPL portfolio comprising of non-performing real estate secured loans as well as real estate owned (REO) properties.

            p.text-base.mb-4 LynxCap is pleased to announce that LCL Opportunities S.C.S. has paid a coupon to bondholders due on 29/12/2023 under its secured Bond Programme for the following Sr. Secured Bonds - EUR 9,00 LCL OPPORT LUX (REGS/A) 22-2026.The bonds are listed on the Euro MTF section of the Luxembourg Stock Exchange.

            h3.font-serif.text-3xl.mt-11.mb-4.inline-block(class="desktop:text-4xl desktop:mb-6")  New 200M Acquisition complete

            p.text-base.mb-4 The LynxCap advisory committee members have over 100 years of combined experience in international business and investments in diverse fields such as securities law, finance and capital management, foreign exchange, fixed income, hedge funds, private equity, private debt, economics and asset management.The advisory committee was formed to provide LynxCap with insights based on the deep expertise, varied perspectives and collective wisdom of its respective members. LynxCap is pleased to welcome
            
            h4.text-2xl.mb-4.mt-8 Claudius Tsang, CEO
            p.text-base.mb-4 of three NASDAQ-listed companies as well as the past co-head of private equity, North Asia, at Templeton Asset Management Ltd. and a partner of Templeton Private Equity Partners;
            h4.text-2xl.mb-4.mt-8  Jaromir Cernik, 

            p.text-base.mb-4 a partner in a special situation fund, the prior vice president of a private equity investment company and a former Corporate Finance team Associate Director at Deloitte China in Hong Kong as well as the Hong Kong resident Chief Representative and Regional Director of CzechInvest for Southeast Asia;
            
            h4.text-2xl.mb-4.mt-8  Carine Truong, 
            p.text-base.mb-4 the founder and CEO of Careva Aero Capital, with extensive transactional experience in challenging markets, a member of the Technical Standing Committee of the Hague Court of Arbitration for Aviation as well as a visiting professor in Air Transport Economy at Tsinghua University School of Economics & Management in Beijing and the Hong Kong International Aviation Academy;

            h3.font-serif.text-3xl.mt-11.mb-4.inline-block(class="desktop:text-4xl desktop:mb-6")  Future directions for BXCI

            p.text-base.mb-4 LynxCap successfully completes yet another transaction in Spain, acquiring an NPL portfolio comprising of non-performing real estate secured loans as well as real estate owned (REO) 
            ul 
                li.mb-4 LynxCap is pleased to announce that LCL Opportunities S.C.S. has paid a coupon to bondholders due on 29/12/2023 under its secured Bond Programme for the following Sr. Secured Bonds - EUR 9,00 LCL OPPORT LUX (REGS/A) 22-2026.
                li.mb-4 The bonds are listed on the Euro MTF section of the Luxembourg Stock Exchange.
                li.mb-4 LynxCap is pleased to announce that LCL Opportunities S.C.S. has paid a coupon to bondholders due on 29/12/2023 under its secured Bond Programme for the following Sr. Secured Bonds - EUR 9,00 LCL OPPORT LUX (REGS/A) 22-2026.
                li.mb-4 The bonds are listed on the Euro MTF section of the Luxembourg Stock Exchange.

                    