.bonds_header {
  background: white;
  background-image: unset !important;
}

.bonds-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
  .info-description {
    font-size: 20px;
  }
  .info-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 16px;
    &-block {
      &:nth-child(3) {
        grid-area: 5 / 1 / 6 / 3;
      }
      &:nth-child(6) {
        grid-area: 4 / 1 / 5 / 3;
      }
    }
  }
  .info-download {
    svg {
      border: none;
      background: none !important;
    }
  }
}

.investors {
  margin-top: 88px;
  &-subtitle {
    color: #c29b57;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    align-items: baseline;
  }
  .text-base {
    font-size: 16px;
  }
  &-container {
    display: flex;
    flex-direction: row;
    gap: 140px;
  }
  &-right {
    display: none;
    flex-direction: column;

    &-numbers {
      display: flex;
      flex-direction: row;

      &-cell {
        width: 116px;
      }
    }
  }
}

.bonds-container {
  .bonds-tranches {
    display: grid;
    grid-template-columns: 1fr;
  }
  .bonds-tranches-icon {
    display: none;
  }
}

.bonds-second {
  padding-top: 36px;
}

.bonds-blueblock {
  background: #000039;
  .wh-container {
    padding-top: 64px;
  }
  color: white;
  .font-serif.text-8xl.mb-2 {
    color: #d4c09e;
  }

  .info-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;
  }
  .text-base {
    font-size: 16px;
  }
  .anchor-button {
    svg {
      border: 2px solid white !important;
    }
  }
}

.bonds-luxembourg {
  display: flex;
  grid-template-columns: 1fr 2fr;
}
.bonds-luxembourg {
  /* background-image: url('./assets/lx-bg-mobile.png'); */
  width: 100%;
  /* height: calc((100vw - 32px) * 2.7926); */
  /* height: 600px; */
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  &-info {
    /* margin-top: calc(100vw - 20px + 50px); */
    background-size: 100% 100%;
    padding: 16px;
    background-repeat: no-repeat;
    background-image: url('./assets/lx-info-bg.png');
  }
  &-img {
    background-size: 100% 100%;
    /* display: none; */
    background-repeat: no-repeat;
    /* background-image: url('./assets/lx-bg-img.png'); */
    &-desktop {
      display: none;
    }
    &-mobile {
    }
  }
}

.bonds-partners {
  margin-top: 64px;
  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media (min-width: theme('screens.desktop')) {
  .bonds-info {
    grid-template-columns: 1fr 256px;
    gap: 0 120px;

    .info-description {
      font-size: 24px;
    }

    .info-percentage {
      margin-top: 0;
    }
    .info-table {
      display: grid;
      grid-template-columns: 1fr 1fr 3fr;
      gap: 0 32px;
      &-block {
        grid-area: initial !important;
      }
    }

    .info-download {
      margin-top: 24px;
      svg {
        border: none;
        background: none !important;
      }
    }
  }
  .bonds-container {
    .text-base {
      font-size: 20px;
    }
    .investors {
      margin-top: 124px;
      &-right {
        display: flex;
      }
    }
    .bonds-tranches-icon {
      display: block;
    }
    .bonds-tranches {
      grid-template-columns: 1fr 2fr;
    }
  }
  .bonds-blueblock {
    .info-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 140px;
    }
    .text-base {
      font-size: 20px;
    }
  }
  .bonds-second {
    padding-top: 124px;
  }

  .bonds-luxembourg {
    /* background-image: url('./assets/lx-bg.png'); */
    grid-template-columns: 1fr 2fr;
    /* height: 626px; */
    &-info {
      padding-left: 138px;
      padding-right: 186px;
      padding-top: 86px;
    }
    .text-base {
      line-height: 26px;
    }
    &-img {
      &-desktop {
        display: block;
      }
      &-mobile {
        display: none;
      }
    }
  }
  .bonds-partners {
    margin-top: 124px;
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px 130px;
    }
  }
}
