.blue-banner {
  background: url('./assets/blue-banner.svg') no-repeat center center;
  background-size: cover;
  padding: 48px 16px;
  position: relative;
  min-height: 472px;
}

@media (min-width: theme('screens.desktop')) {
  .blue-banner {
    padding: 72px 100px;
  }
}

.map {
    padding: 10px 0;
    img {
        max-width: 100%;
    }
}

@media (min-width: theme('screens.desktop')) {
  .map {
    position: absolute;
    right: 96px;
    top: 72px;
  }
}
