.header {
  background-repeat: no-repeat;
  background-image: url('./assets/snow-bg-large.jpg');
  background-position: calc(50% + 318px) calc(50% - 43px);
  height: 690px;

  &__content {
    padding: 0 16px;
    padding-top: calc(33px + var(--nav-height));
  }

  &__title {
    font-family: var(--font-serif);
    font-size: var(--text-4xl);
    margin-bottom: 24px;
  }

  &__description {
    font-size: 20px;
    max-width: 380px;
  }
}

.performance {
  position: absolute;
  right: 15px;
  top: calc(274px + var(--nav-height));
}

@media (min-width: theme('screens.desktop')) {
  .performance {
    position: absolute;
    right: 112px;
    top: calc(20px + var(--nav-height-desktop));
  }

  .header {
    background-image: url('./assets/snow-bg.jpg');
    background-position: top center;
    height: 625px;
  }

  .header__content {
    padding-left: 115px;
    padding-top: calc(100px + var(--nav-height-desktop));
  }

  .header__title {
    font-size: var(--text-6xl);
    line-height: 110%;
    margin-bottom: 28px;
  }
}

/* extra large bg, used only for top banner */
@media (min-width: 1900px) {
  .header {
    background-image: url('./assets/snow-bg-high-res.jpg');
    background-position: 50% 70%;
    background-size: cover;
  }
}

.banner {
  background: url('./assets/banner.svg') no-repeat center center;
  background-size: cover;
  padding: 32px 20px;
}

@media (min-width: theme('screens.desktop')) {
  .banner {
    padding: 60px;
  }
}