.header {
  background-repeat: no-repeat;
  color: var(--color-dark-blue);
  background-image: url('./assets/snow-bg-large.jpg');
  background-position: calc(50% + 318px) calc(50% - 43px);
  height: 690px;

  &__content {
    padding: 0 16px;
    padding-top: calc(33px + var(--nav-height));
  }

  &__title {
    font-family: 'ivar', serif;
    font-size: 36px;
    line-height: 110%;
    margin-bottom: 24px;
  }

  &__description {
    font-family: 'larsseit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    max-width: 380px;
  }
}

@media (min-width: theme('screens.desktop')) {
  .header {
    background-image: url('./assets/snow-bg.png');
    background-position: center top;
    height: 625px;
  }

  .header__content {
    padding-left: 96px;
    padding-top: calc(100px + var(--nav-height-desktop));
  }

  .header__title {
    font-size: 64px;
    line-height: 110%;
    margin-bottom: 28px;
  }
}
