extends ../layout/layout.pug

block header
    header.header
        .container.mx-auto
            .header__content
                h1.header__title Performance in Details 
                p.header__description We are Swiss experts in real estate, specializing in secured claims acquisitions and effective workouts driven by a commitment to reliability, reputation and results.


block content
    h1 Welcome to My Website
    p This is the home page of my website.