extends ../layout/layout.pug

block header
    header.header
        .container.mx-auto.relative
            .header__content
                h1.header__title Performance in Details 
                .header__description We are Swiss experts in real estate, specializing in secured claims acquisitions and effective workouts driven by a commitment to reliability, reputation and results.
                .performance
                    img(src=require("../assets/performance.svg"), alt="performance", class="hidden desktop:block")
                    img(src=require("../assets/performance_m.svg"), alt="performance", class="block desktop:hidden")
                    #performance-1
                        .performance__title
                            | 830
                        .performance__desc 
                            | cases resolved
                            br
                            | (and counting)
                    #performance-2
                        .performance__title
                            | €88M
                        .performance__desc 
                            | Invested since 2019

                    #performance-3
                        .performance__title
                            | €130M
                        .performance__desc  
                            | market value of real 
                            br
                            | estate collateral


block content
    .container.mx-auto.mt-20(class="desktop:mt-23")
        .px-3(class="desktop:px-0")
            h2.text-4xl.text-center.font-serif.mb-10(class="desktop:text-6xl desktop:mb-14") 
                | Stability from real estate.
                br
                | Yield from expertise.
            .img.mb-8(class="desktop:mb-12")
                img.size-full(src=require("../assets/article1.png"))
            .mb-20(class="desktop:mb-24 desktop:grid desktop:grid-cols-3")
                .mb-10
                    .font-serif.text-8xl.mb-2
                        | 15+
                    .font-medium
                        | years of focused expertise.
                .col-span-2
                    .mb-7(class="desktop:text-xl large:pr-25")
                        | As an employee managed investment company, we offer investors the chance to access diversified real estate portfolios acquired at discounted prices, which are managed by our regional partner network.
                    div
                        a.btn(href="#") Our portfolio
  
        .px-3(class="desktop:px-0")
            .banner.mb-20(class="desktop:mb-24")
                h2.text-4xl.font-serif.mb-5(class="desktop:text-6xl desktop:mb-12") 
                    | Luxembourg Stock Exchange 
                    br
                    | EMTF listed bonds
                div(class="desktop:grid desktop:grid-cols-4")
                    .mb-8
                        .font-serif.text-8xl
                            | 11%
                        .font-medium
                            | EUR and USD 
                            br
                            | denominated offerings
                    .col-span-2.mb-6(class="desktop:pl-15 desktop:pr-22")
                        hr.border-dark-blue
                        .py-5.text-xl.font-medium.flex
                            .w-20.inline-block B+
                            | Credit rating* for issuer outlook: stable  
                        hr.border-dark-blue
                        .py-5.text-xl.font-medium.flex
                            .w-20.inline-block BBB– 
                            | Credit rating* for bond issue outlook: stable     
                    .text-left 
                        a.anchor-button(href="#")
                            span See detailed offer 
                            +svg-icon(svg-icon-name='right-arrow')
                .text-sm.mt-4
                    | *current offering, subject to market changes

        .px-3.mb-20(class="desktop:px-0 desktop:mb-30")
            h2.text-4xl.font-serif.mb-10(class="desktop:text-6xl desktop:mb-14") 
                | Company news
            div(class="desktop:grid desktop:grid-cols-3 desktop:gap-8 large:gap-16")
                - var n = 0
                while n < 3
                    - n++
                    .mb-10
                        a.zoomable(href="article.html")
                            div.img-wrap(class="w-1/2 desktop:w-auto")
                                img.mb-8(src=require("../assets/example1.png"))
                            .font-serif.text-3xl.mb-4.inline-block.link(class="desktop:text-4xl")
                                | New 200M Acquisition complete
                            .text-base.mb-4(class="desktop:text-xl")
                                | LynxCap in partnership with New York-based MHR Fund Management LLC, is pleased to announce the successful acquisition of a portfolio of real estate secured claims from a US-based asset manager.
                            div
                            | 09th of October 2024
            .text-left(class="desktop:text-center") 
                a.anchor-button(href="#")
                    span See detailed offer 
                    +svg-icon(svg-icon-name='right-arrow')

block footer
    include ../components/footer-hero.pug