extends ../layout/layout.pug

block header
    header.header
        .container.mx-auto.relative
            .header__content
                h1.header__title Performance in Details 
                p.header__description We are Swiss experts in real estate, specializing in secured claims acquisitions and effective workouts driven by a commitment to reliability, reputation and results.
                .performance
                    img(src=require("../assets/performance.svg"), alt="performance", class="hidden desktop:block")
                    img(src=require("../assets/performance_m.svg"), alt="performance", class="block desktop:hidden")


block content
    .content contents