.header {
  background-repeat: no-repeat;
  background-image: url('./assets/snow-bg-mobile.jpg');
  background-position: top left;

  &__content {
    padding: 0 16px;
    padding-top: calc(33px + var(--nav-height));
  }

  &__title {
    font-family: var(--font-serif);
    font-size: var(--text-4xl);
    margin-bottom: 20px;
  }

  &__description {
    font-size: 20px;
    margin-bottom: 12px;
  }
}

.performance {
  position: relative;
  padding-bottom: 80px;
}

.performance__desc {
  font-size: 10px;
}

#performance-1 {
  position: absolute;
  left: 210px;
  top: 8px;
  .performance__title {
    font-size: 60px;
    line-height: 1;
    font-family: var(--font-serif);
  }
}

#performance-2 {
  position: absolute;
  left: 10px;
  top: 34px;
  .performance__title {
    font-size: 35px;
    line-height: 1;
    font-family: var(--font-serif);
  }
}

#performance-3 {
  position: absolute;
  left: 200px;
  top: 175px;
  .performance__title {
    font-size: 35px;
    line-height: 1;
    font-family: var(--font-serif);
  }
}

@media (min-width: theme('screens.desktop')) {

  .header {
      background-repeat: no-repeat;
      background-image: url('./assets/snow-bg-large.jpg');
      background-position: calc(50% + 318px) calc(50% - 43px);
      min-height: 690px;
  }

  .header__description {
    max-width: 380px;
  }

  .performance {
    position: absolute;
  }

  .performance__desc {
    font-size: 16px;
  }

  #performance-1 {
    position: absolute;
    left: 330px;
    top: 10px;
    .performance__title {
      font-size: 96px;
      line-height: 1;
      font-family: var(--font-serif);
    }
  }
  
  #performance-2 {
    position: absolute;
    left: 14px;
    top: 300px;
    .performance__title {
      font-size: 56px;
      line-height: 1;
      font-family: var(--font-serif);
    }
  }
  
  #performance-3 {
    position: absolute;
    left: 318px;
    top: 280px;
    .performance__title {
      font-size: 56px;
      line-height: 1;
      font-family: var(--font-serif);
    }
  }
}

.wh-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: calc(var(--nav-height) + 59px);
}

@media (min-width: theme('screens.desktop')) {
  .performance {
    position: absolute;
    right: 112px;
    top: calc(20px + var(--nav-height-desktop));
  }

  .wh-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: calc(var(--nav-height-desktop) + 82px);
  }

  .header {
    background-image: url('./assets/snow-bg.jpg');
    background-position: top center;
    height: 625px;
  }

  .header__content {
    padding-left: 115px;
    padding-top: calc(100px + var(--nav-height-desktop));
  }

  .header__title {
    font-size: var(--text-6xl);
    line-height: 110%;
    margin-bottom: 28px;
  }
}

/* extra large bg, used only for top banner */
@media (min-width: theme('screens.large')) {
  .header {
    background-image: url('./assets/snow-bg-high-res.jpg');
    background-position: 50% 70%;
    background-size: cover;
  }
}

.banner {
  background: url('./assets/banner.svg') no-repeat center center;
  background-size: cover;
  padding: 32px 20px;
}

@media (min-width: theme('screens.desktop')) {
  .banner {
    padding: 60px;
  }
}

