.news-container {
  & > .text-left {
    margin-top: 40px;
    margin-bottom: 128px;

    & > .anchor-button > svg {
      transform: rotate(90deg);
    }
  }
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
  gap: 40px;
}

@media (min-width: theme('screens.desktop')) {
  .news-container {
    & > .text-left {
      margin-top: 64px;
      margin-bottom: 128px;

      & > .anchor-button > svg {
        transform: rotate(90deg);
      }
    }
  }

  .news-grid {
    gap: 70px;
    margin-top: 64px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
