.plane-banner {
  height: 372px;
  background-image: url('./assets/plane.png');
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

@media (min-width: theme('screens.large')) {
  .plane-banner {
    height: 480px;
    background-size: cover;
    margin-bottom: 80px;
  }
}
