extends ../layout/layout.pug

block variables
    - var current_page = 'portfolio'

block content
    .mx-auto.container.wh-container
        h1.text-4xl.font-serif.mb-10(class="desktop:text-6xl desktop:mb-14")
            | Stability from real estate. 
            br
            | Yield from expertise.

        .buildings-banner                                              
        div(class="desktop:grid desktop:grid-cols-3")
            .mb-10(class="desktop:mb-15")
                div(class="desktop:text-xl desktop:pr-30")
                    | Our holdings consist of real estate backed claims and real estate owned assets including performing assets.
            div
                .mb-10(class="desktop:mb-15")
                    .font-serif.text-8xl.mb-2
                        span.text-grey-4
                            | €
                        span 131.5M
                    .font-medium
                        | market value of real estate collateral
                .mb-10(class="desktop:mb-15")
                    .font-serif.text-8xl.mb-2
                        span 28.6%
                    .font-medium
                        | Net Debt to MV   
            div
                .mb-10(class="desktop:mb-15")
                    .font-serif.text-8xl.mb-2
                        span >500
                    .font-medium
                        | portfolios analysed 
                .mb-10(class="desktop:mb-15")
                    .font-serif.text-8xl.mb-2
                        span 28
                    .font-medium
                        | portfolios acquired  in 5 jurisdictions since 2019
        .mb-6    
            .text-bronze-1.flex.items-center
                +svg-icon(svg-icon-name='vector')
                span.text-2xl.ml-1.font-medium
                    | Real Estate Values by Country
                
        h2.text-4xl.font-serif.mb-6(class="desktop:text-5xl desktop:mb-10")
            | We specialize in managing a diversified portfolio in Europe   
        div(class="desktop:grid desktop:grid-cols-2")    
            .mb-10(class="desktop:text-xl desktop:pr-30")
                | that are geographically stratified, encompassing key markets. This strategic distribution mitigates risk and enables us to leverage our regional expertise to unlock the potential of each asset.
            .mb-10
                div(class="desktop:flex")
                    .mb-10(class="desktop:pr-15")
                        img(src=require("../assets/pie1.svg"))
                    .mb-10 
                        ol(class="desktop:text-xl")
                            li.mb-3
                                span.mr-4.font-medium 1.
                                span Croatia 9.74M
                            li.mb-3
                                span.mr-4.font-medium 2.
                                span Slovenia 11.18M
                            li.mb-3
                                span.mr-4.font-medium 3.
                                span Serbia 10.27M
                            li.mb-3
                                span.mr-4.font-medium 4.
                                span Greece 2.30M
                            li.mb-3
                                span.mr-4.font-medium 5.
                                span Montenegro 0.26M
                            li.mb-3
                                span.mr-4.font-medium 6.
                                span Spain 97.76M        
        .portfolio-map                                                                                                                                                  

