.buildings-banner {
  height: 372px;
  background-image: url('./assets/buildings.png');
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

@media (min-width: theme('screens.desktop')) {
  .buildings-banner {
    margin-bottom: 60px;
    height: 480px;
  }
}

@media (min-width: theme('screens.large')) {
  .buildings-banner {
    background-size: cover;
  }
}

.portfolio-map-wrap {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 100px;
  margin-left: 0;
  margin-right: 0;
  scroll-padding-left: 25px;
}

.portfolio-map {
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-image: url('./assets/portfolio-map.svg');
  background-position: center center;
  height: 540px;
  min-width: 1180px;
}

.portfolio-subheader {
  max-width: 1000px;
}

@media (min-width: theme('screens.desktop')) {
  .portfolio-map {
    height: 540px;
  }
  .portfolio-map-wrap {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media (min-width: theme('screens.large')) {
  .portfolio-map {
    height: 600px;
    background-size: cover;
  }
}

.accordion {
  li {
    position: relative;
    cursor: pointer;
    .accordion-icon {
      position: absolute;
      top: 20px;
      right: 0;
    }
    .accordion-content {
      max-height: 0;
      transition: all 0.3s ease;
      overflow: hidden;
    }
  }
}

.accordion li.is-expanded {
  .accordion-content {
    display: block;
    max-height: 200px;
    margin-top: 12px;
  }
  .accordion-icon {
    transform: rotate(180deg);
  }
}

.pie-legend-item-marker {
  font-weight: 500;
  height: 26px;
  width: 26px;
  border-radius: 100%;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  margin-right: 8px;
  transition: background-color 0.15s ease-in-out;
  &:after {
    content: '.';
  }
}

.pie-marker + path {
  pointer-events: none;
}

.pie-highlighted {
  cursor: pointer;
  transition: fill 0.15s ease-in-out;
  &.pie-slice {
    fill: var(--color-blue-2);
  }
  &.pie-legend-item .pie-legend-item-marker {
    background-color: var(--color-bronze-1);
    color: white;
    &:after {
      display: none;
    }
  }
  &.pie-marker {
    fill: var(--color-bronze-1);
  }
}

.pie {
  position: relative;
}

.pie-total {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  position: absolute;
  height: 120px;
  width: 120px;
  z-index: 1;
  top: calc(50% - 57px);
  left: calc(50% - 91px);
  line-height: 120px;
  border-radius: 100%;
  cursor: default;
}

