.buildings-banner {
  height: 372px;
  background-image: url('./assets/buildings.png');
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

@media (min-width: theme('screens.desktop')) {
  .buildings-banner {
    margin-bottom: 60px;
    height: 480px;
  }
}


@media (min-width: theme('screens.large')) {
  .buildings-banner {
    background-size: cover;
  }
}

.portfolio-map-wrap {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 100px;
  margin-left: 0;
  margin-right: 0;
  scroll-padding-left: 25px;
}

.portfolio-map {
  height: 470px;
  background-image: url('./assets/portfolio-map.png');
  background-position: bottom center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  min-width: 1180px;
}

.portfolio-subheader {
  max-width: 1000px;
}

@media (min-width: theme('screens.desktop')) {
  .portfolio-map {
    height: 540px;
  }
  .portfolio-map-wrap {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media (min-width: theme('screens.large')) {
  .portfolio-map {
    background-size: cover;
  }
}

.accordion {
  li {
    position: relative;
    cursor: pointer;
    .accordion-icon {
      position: absolute;
      top: 20px;
      right: 0;
    }
    .accordion-content {
      max-height: 0;
      transition: all 0.3s ease;
      overflow: hidden;
    }
  }
}

.accordion li.is-expanded {
  .accordion-content {
    display: block;
    max-height: 200px;
    margin-top: 12px;
  }
  .accordion-icon {
    transform: rotate(180deg);
  }
}
