extends ../layout/layout.pug

block variables
    - var current_page = 'team'

block header
    header.header.team-header
        .container.mx-auto.relative
            .header__content.header__content
                h1.header__title Meet the team
                .header__description We have been analyzing and acquiring real estate secured claims in Europe since 2008 fostering an open and dynamic corporate culture that encourages collaboration and innovation among our team.


block content 
    .team-container.mx-auto.container.mt-10(class="desktop:mt-20")
        h3.font-serif.text-4xl.mb-10.inline-block(class="desktop:text-4xl") Lynxcap Team
        div.team-grid.mb-25
            - var n = 0
            while n < 13
                - n++
                div.team-grid-cell.cursor-pointer(data-id="team-trigger")
                    img.size-full(src=require("../assets/team1.png"))
                    div.team-grid-cell-info 
                        h4.text-base.mb-2.font-medium(class="desktop:text-xl") Alexander Zwinger
                        p.text-sm(class="desktop:text-base desktop:w-50") Managing Director, Portfolio Management LynxCap Investments AG
