extends ../layout/layout.pug

block variables
    - var current_page = 'token'

block header
    header.token-header
        .container.mx-auto
            .header__content
            h1.text-4xl.font-serif.text-white(class="desktop:text-5xl") Tokenized Real Estate From NPL Portfolios


block content 
    div 
        | Token page