.token-header {
  background: var(--color-dark-blue);
}

.nav {
  .white-logo,
  .white-burger {
    display: none;
  }
}

.on-dark.nav {
  .white-logo,
  .white-burger {
    display: block;
  }

  .basic-logo,
  .basic-burger {
    display: none;
  }

  .nav-links {
    a {
      color: var(--color-white);
    }
    a.is-active {
      color: var(--color-bronze-1);
    }
  }
}

.token-header {
  .header__content {
    padding-left: 0;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: theme('screens.desktop')) {
  .token-header {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.lu {
  position: absolute;
  top: 15px;
  left: 19px;
  font-size: 20px;
}

@media (min-width: theme('screens.desktop')) {
  .lu {
    position: absolute;
    top: 26px;
    left: 32px;
    font-size: 32px;
  }
}

.token-about {
  background-image: url('./assets/t-token-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 24px;
  position: relative;
  &__container {
    max-width: 563px;
  }
  &__header {
    display: block;
  }
  &__image {
    img {
      max-width: 208px;
      display: inline-block;
    }
    text-align: center;
  }
}

@media (min-width: theme('screens.desktop')) {
  .token-about {
    padding: 86px 97px;
  }
  .token-about__header {
    display: flex;
    justify-content: space-between;
  }
  .token-about__image {
    text-align: right;
    img {
      max-width: unset;
    }
  }
}

.token-description {
  img {
    width: 100%;
  }
  @media (min-width: theme('screens.desktop')) {
    img {
      width: auto;
    }
  }
  ul {
    max-width: 580px;
    padding-left: 20px;
    li {
      list-style: disc;
      margin-bottom: 24px;
      a {
        text-decoration: underline;
      }
    }
  }
}

.yield-tables {
  table {
    width: 100%;
    tr {
      border-top: 1px solid var(--color-dark-blue);
    }
    td {
      padding: 16px 8px;
      font-size: var(--text-xl);
      font-weight: 500;
    }
    tr.muted td {
      background-color: var(--color-grey-7);
    }
  }
}

@media (min-width: theme('screens.desktop')) {
  .yield-tables {
    table {
      td {
        padding: 20px;
      }
    }
  }
}
