.token-header {
  background: var(--color-dark-blue);
}

.nav {
  .white-logo, .white-burger {
    display: none;
  }
}

.on-dark.nav {
  .white-logo, .white-burger {
    display: block;
  }

  .basic-logo, .basic-burger {
    display: none;
  }

  .nav-links {
    a {
      color: var(--color-white);
    }
    a.is-active {
      color: var(--color-bronze-1);
    }
  }
}

.token-header {
  .header__content {
    padding-left: 0;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: theme('screens.desktop')) {
  .token-header {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.lu {
  position: absolute;
  top: 15px;
  left: 19px;
  font-size: 20px;
}

@media (min-width: theme('screens.desktop')) {
  .lu {
    position: absolute;
    top: 26px;
    left: 32px;
    font-size: 32px;
  }
}
