.nav {
  height: 100px;
  outline: 1px solid red;
}

.header {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/header-vectors.svg');
    z-index: 1;
    background-position: right top;
    background-repeat: no-repeat;
  }

  position: relative;
  background-image: url('./assets/header-bg.jpg');
  height: 625px;
  background-position: center 60%;
  background-repeat: no-repeat;

  color: var(--color-dark-blue);

  &__content {
    padding: 33px 16px;
  }

  &__title {
    font-family: 'ivar', serif;
    font-size: 64px;
    line-height: 110%;
    margin-bottom: 28px;
  }

  &__description {
    font-family: 'larsseit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    max-width: 380px;
  }
}

@media (min-width: theme('screens.desktop')) {
  .header__content {
    padding: 90px 100px;
  }
}
