header.header
    .container.mx-auto
        nav.nav nav
        .header__content
            h1.header__title Performance in Details 
            p.header__description We are Swiss experts in real estate, specializing in secured claims acquisitions and effective workouts driven by a commitment to reliability, reputation and results.