.cookies-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0px 4px 16px 0px #00000033;
  z-index: 1;
  padding: 50px 16px 36px;

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media (min-width: theme('screens.desktop')) {
  .cookies-modal {
    bottom: 30px;
    left: 40px;
    right: auto;
    max-width: 520px;
    padding: 68px 48px 52px;
  }
}
