.container.mx-auto.footer
    hr.mb-5
    .grid.grid-cols-3.gap-4
        div
            .logo.mb-7
                img(src=require("../assets/logo_white.svg"), alt="performance")
            .text-grey-4.text-sm © LynxCap Group. All Rights Reserved.
        div
            .text-sm.mb-2 United Identification Number CHE-244.186.164
            .text-sm.cursor-pointer Term of use
