.footer-hero {
  padding: 60px 18px 50px;

  &__image{
    width: 180px;
    img {
        width: 100%;
    }
  }
}

@media (min-width: theme('screens.desktop')) {
  .footer-hero {
    padding: 85px 40px 100px;
  }

  .footer-hero__text {
    padding: 0 80px 0 60px;
  }

  .footer-hero__image {
    width: 280px;
  }
}

@media (min-width: theme('screens.large')) {
  .footer-hero__image {
    width: 320px;
  }
}
