.container.mx-auto.footer
    .mb-9(class="desktop:grid desktop:grid-cols-3 desktop:gap-4")
        .text-2xl.font-serif.mb-12(class="desktop:mb-0 desktop:text-4xl") 
            div Stability from real estate.
            div Yield from expertise. 
        .pt-2.mb-12(class="desktop:mb-0")
            .grid.grid-cols-2.font-medium
                ul
                    li.mb-3
                        a(href="bonds.html") Bonds
                    li.mb-3
                        a(href="news.html") News
                    li.mb-3
                        a(href="#") About us
                ul
                    li.mb-3
                        a(href="portfolio.html") Portfolio
                    li.mb-3
                        a(href="partners.html") Partners

        .pt-2
            .mb-3.font-medium Contacts
            .text-sm.font-light
                .mb-2 
                    | +41-41-71 000 75 
                    br
                    | info@lynxcapinvestments.com
                .mb-2 Our headquarter: Lüssihofweg 4, 6300 Zug, Switzerland
                a(href="contacts.html") See all contacts


    hr.mb-5
    div(class="desktop:grid desktop:grid-cols-3 desktop:gap-4")
        div
            .mb-5(class="desktop:mb-0")
                img(src=require("../assets/logo_white.svg"), alt="performance")
        .mb-5(class="desktop:mb-0")
            .text-sm.mb-2 United Identification Number CHE-244.186.164
            .text-sm.cursor-pointer(data-id="terms-trigger") Term of use
    .text-grey-4.text-sm © LynxCap Group. All Rights Reserved.
