.footer {
  color: var(--color-white);
  padding: 40px 18px 50px;
  hr {
    border-color: var(--color-grey-5);
  }
}

@media (min-width: theme('screens.desktop')) {
  .footer {
    padding: 60px 40px 80px;
  }
}
