.container.mx-auto.text-white 
    .footer-hero
        div(class="desktop:grid desktop:grid-cols-3 desktop:gap-4")
            .col-span-2
                .footer-hero__text.mb-12
                    .font-serif.text-2xl.mb-8(class="desktop:text-4xl") “At Lynx Cap, our focus is in combining precision in risk assessment and innovation in managing assets, ensuring every decision is informed by data and insight."
                    .mb-2.font-medium.text-xl Alexander Zwinger
                    div Managing Director, Portfolio Management 
                        br
                        | LynxCap Investments AG
            .col-span-1
                .footer-hero__image
                    img(src=require("../assets/footer-hero.png"))
