:root {
  --nav-height: 56px;
  --nav-height-desktop: 100px;
}

.nav {
  height: var(--nav-height);
  outline: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: theme('screens.desktop')) {
  .nav {
    height: var(--nav-height-desktop);
  }
}
