:root {
  --nav-height: 56px;
  --nav-height-desktop: 100px;
}

.nav {
  height: var(--nav-height);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.nav-links {
  a {
    transition: all 0.3s;
  }

  a:hover {
    color: var(--color-violet-1);
  }

  a.is-active {
    color: var(--color-bronze-1);
  }
}

@media (min-width: theme('screens.desktop')) {
  .nav {
    height: var(--nav-height-desktop);
  }
}

.nav .logo, .nav-mobile .logo {
  transform: scale(.75);
  transform-origin: center left;
}

@media (min-width: theme('screens.desktop')) {
  .nav .logo, .nav-mobile .logo {
    transform: scale(1);
  }
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  hr {
    border-color: var(--color-grey-3);
  }
}

.nav-mobile {
  transform: translateY(0);
}

.nav-mobile.menu-hidden {
  transform: translateY(-100%);
}

.menu-hidden > * {
  display: none;
}
