.overlay.hidden(data-id="team-overlay")
    .terms.sidemodal-hidden.team(data-id="team")
        .terms__header
            .flex.px-5.pt-5.items-center.justify-end
                .cursor-pointer(data-id="team-close")
                    +svg-icon(svg-icon-name='close')
        .team-content.ml-4.mr-4.mt-3(class="desktop:ml-25 desktop:mr-15 desktop:mt-10")
            img.team-photo.size-full(src=require("../assets/team1.png"))
            .team-content-info.mt-10(class="desktop:ml-18 desktop:mt-0")
                h3.font-serif.text-3xl.mb-3.inline-block(class="desktop:text-4xl") Alexander Zwinger 
                p.text-base(class="desktop:mt-4") Managing Director, Portfolio Management LynxCap Investments AG
                p.text-base.mt-10(class="desktop:mt-11") Starting in 2009 Alexander Zwinger led the Analysis department (and since 2012 the Operations department) of DDM Group AG. He was responsible for establishing and continuously developing portfolio valuation and pricing models, portfolio management, and reporting processes. Mr. Zwinger spearheaded the efforts to prepare DDM for an IPO on the Nasdaq First North. Prior to DDM, Mr. Zwinger worked at Aktiv Kapital. Alexander holds Master’s degree in Economics from University of Bielefeld, Germany with a background in Economics, Statistics and Emipirical Analysis.