mixin svg-icon
  -
    var icon = attributes['svg-icon-name']
  
  case icon
    when 'close'
      include icons/close
    when 'right-arrow'
      include icons/right-arrow
    when 'vector'
      include icons/vector