mixin svg-icon
  -
    var icon = attributes['svg-icon-name']
  
  case icon
    when 'close'
      include icons/close
    when 'right-arrow'
      include icons/right-arrow
    when 'chevron-down'
      include icons/chevron-down
    when 'download'
      include icons/download
    when 'line'
      include icons/line
