doctype html
html
    head
        title LynxCap
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body
        header
            h1 Welcome to LynxCap
            nav
                ul
                    li: a(href='#') Home
                    li: a(href='#') About
                    li: a(href='#') Services
                    li: a(href='#') Contact
        main
            section
                h2 Our Services
                p We offer a wide range of financial services to help you achieve your goals.
        footer
            p © 2023 LynxCap. All rights reserved.