doctype html
html
    head
        title Lynxcap
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        include ./components/header/header.pug
        main
            block content
        footer
            p © 2023 My Website