doctype html
html
    head
        title Lynxcap
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        .relative
            include ../components/nav.pug
            block header
        main
            block content
        footer.bg-dark-blue
            block footer
            include ../components/footer.pug
