include ../mixins/svg-icon
include ../components/nav

block variables
doctype html
html
    head
        title Lynxcap
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        .relative
            +nav(current_page)
            block header
        main
            block content
        footer.bg-dark-blue
            block footer
            include ../components/footer.pug
            include ../components/terms.pug
            include ../components/request-modal.pug
